.front{
	text-align: center;
	font-size: 300%;
	color: white;
}
.paragharh{
	font-family: Itim;
	text-align: center;;
	color: white;
	font-size: 150%;
}
.noti{
	font-family: Itim;
	text-align: center;
	color: orange;
	font-size: 150%;
}