#game{
	width: 350px;
	height: 600px;
	background: #000;
	margin: 1em auto;
	position: relative;
}
.control {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    background: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*[x="-1"]{
	left: -50px;
}
*[x="0"]{
	left: 0;
}
*[x="1"]{
	left: 50px;
}
*[x="2"]{
	left: 100px;
}
*[x="3"]{
	left: 150px;
}
*[x="4"]{
	left: 200px;
}
*[x="5"]{
	left: 250px;
}
*[x="6"]{
	left: 300px;
}
*[x="7"]{
	left: 350px;
}


*[y="-1"]{
	top: -50px;
}
*[y="0"]{
	top: 0;
}
*[y="1"]{
	top: 50px;
}
*[y="2"]{
	top: 100px;
}
*[y="3"]{
	top: 150px;
}
*[y="4"]{
	top: 200px;
}
*[y="5"]{
	top: 250px;
}	
*[y="6"]{
	top: 300px;
}
*[y="7"]{
	top: 350px;
}
*[y="8"]{
	top: 400px;
}
*[y="9"]{
	top: 450px;
}

#item-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}
item{
	width: 50px;
	height: 50px;
	background: green;
	position: absolute;
	transition:all .3s;
}
item#switch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: purple;
    color: #fff;
    font-weight: bold;
}

item.cherry{
	background: pink;
}

item.banana{
	background: yellow;
}

item.free{
	background: transparent;
}