p{
	text-align: center;
	font-family: "Kanit";
	font-size: 30px;
}

#top{
	text-align: center;
	font-size: 30px; 
}

.text{
	text-align: center;
	font-size: 18px;
}

.profile{
	text-align: center;
	color: #FF1a1a;
}