.display_flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

nav{
	display: flex;
	justify-content:space-between;
	align-items: center;
}

#logo{
	width: 50px;
}

#main_menu{
	display: flex;
}

#main_menu div{
	padding: 0.3em;
}
.ctn{
	height: 80vh;
	width: 900px;
	margin: auto;
	padding: 1em;
	display: flex;
	align-items: center;
}