.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
#welcome{
	text-decoration: underline;
	animation: welcome 0.15s infinite;
	/*write css to animating welcome element*/
}
@keyframes welcome{
	from{
		color: red;
	}
	to{
		color: black;
	}
}