.display_flex{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:stretch;
}

nav{
	display: flex;
	align-items:center;
	justify-content:space-between;
}
#logo{
	width: 48px;
}
#main_menu{
	display: flex;
}
#main_menu div{
	padding: 0.25em;
}
.ctn{
	width: 900px;
	margin: auto;
	height: 80vh
}