.display_flex{
	height: 80vh;

	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items: stretch;
}
.display_flex div{
	width: 3em;
	height: 3em;
}
.item-1{
	order:10;
}
.item-2{
	order:20;
}