body{
  background: black;
  animation:rainbowbg 4s infinite;
}

@keyframes rainbowbg{
    0% {background: lightpink;}
    25% {background: lightblue;}
    50%{background: lightgreen;}
    75%{background: lightyellow;}
    100%{background: lightpink;}
  }

@font-face {
    font-family: myFirstFont;
    src: url(NightoftheDragons.woff);
}

#heart{
  position: absolute;
  top: 3px;
  animation: spiral 10s infinite;
}

@keyframes spiral {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(720deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*Right Side*/

#word3{
  position: absolute;
  font-family: 'myFirstFont';
  font-size: 72px;
  font-weight: bold;
  z-index: 1;
  top: 100px;
  left: 920px;
  animation:rainbow 60s infinite;
  text-shadow: 1px 1px #0006;
}

.clock{
  z-index: 1;
  position: relative;
  display: inline;
  font-family: 'myFirstFont';
  font-size: 128px;
  font-weight: bold;
  top: 260px;
  left: 830px;
  animation:rainbow 30s infinite;
  text-align: center;
  text-shadow: 1px 1px #0006;
}

@keyframes rainbow{
    0% {color: purple;}
    9% {color: lightblue;}
    18% {color: darkblue;}
    27%{color: green;}
    36%{color: yellow;}
    45%{color: darkorange;}
    54%{color: red;}
    63%{color: darkorange;}
    72%{color: yellow;}
    81%{color: green;}
    90% {color: darkblue;}
    100% {color: lightblue;}
}

#rbackcard {
  background: #00ACC1;
  z-index: -1;
  position: fixed;
  width: 400px;
  height: 565.5px;
  top: 45px;
  right: 150px;
}

#rfrontcard {
  background: white;
  z-index: -1;
  position: fixed;
  width: 400px;
  height: 565.5px;
  top: 45px;
  right: 150px;
  transform: rotate(5deg);
  box-shadow: 20px 20px 80px #0006;
}


/*Left Side*/
#word1{
  position: absolute;
  font-family: 'myFirstFont';
  font-size: 72px;
  font-weight: bold;
  z-index: 1;
  top: -14px;
  left: 421px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px #0006;
}

#word2{
  position: absolute;
  font-family: 'myFirstFont';
  font-size: 72px;
  font-weight: bold;
  z-index: 1;
  top: 429px;
  left: 462px;
  animation:yellowglow 1s infinite;
  text-shadow: 2px 2px #0006;
}

@keyframes yellowglow{
    from{
      color: lightyellow;
    }
    to{
      color: yellow;
    }
}

#img{
  z-index: 0;
  position: absolute;
  top: 269px;
  left: 420px;
  border-radius: 50%;
}

#lbackcard {
  background: #C51162;
  z-index: -1;
  position: fixed;
  width: 400px;
  height: 565.5px;
  top: 45px;
  left: 370px;
}

#lfrontcard {
  background: #26C6DA;
  z-index: -1;
  position: fixed;
  width: 400px;
  height: 565.5px;
  top: 45px;
  left: 370px;
  transform: rotate(-10deg);
  box-shadow: 20px 20px 80px #0006;
}