.flex{
	height: 80vh;
	display: flex;
	flex-direction:row; /* row = default row-reverse column column-reverse*/
	flex-wrap:wrap;
	justify-content:space-between; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	align-items:strech;
}
.display_flex div{
	width: 2em;
	height: 2em;
}
.item-1{
	order:10;
}
.item-2{
	order:20;
}