.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
#welcome{
	text-decoration: underline;
	animation: welcome 1s infinite;
}
@keyframes welcome{
	from{
		color: red;
	}
	to{
		color: black;
	}
}