.battery {
    width: 400px;
    padding: 1em;
    height: 150px;
    background: #000;
    margin: 2em auto;
    border-radius: 6px;
    position: relative;
}
.battery::after {
    content: " ";
    background: black;
    position: absolute;
    right: -0.8em;
    top: calc(50% - 2em);
    width: 2em;
    height: 4em;
    border-radius: 5px;
}
.battery div{
	background: #fff;
	width: 9%;
	height: 100%;
	float: left;
    margin: 1px;
}

.battery.red div{
    background: red;
}

.battery.orange div{
    background: orange;
}

.battery.green div{
    background: #00FF96;
}  