@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

body {
	background: #1e1e1e;
	color: white;
	font-family:'Open Sans', sans-serif;
	font-size: normal normal normal 14px/1.4em;
	margin: 0px 8px 8px 8px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    width: 100%;
}
li {
	margin: 0px 10px 0px 0px;
    float: left;
}
li a{
	font-size: 0.9em;
	display: block;
	color: white;
    text-align: center;
	padding: 12px 34px;
	margin-top: 50px;
    text-decoration: none;
    vertical-align: baseline;
}
li span {
	display: block;
	text-align: center;
	padding: 35px 70px;
	width: 20%;
	height: 100%;
}

 /*Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #303030;
	color: #B2B1B1; 
}

footer {
	padding-top: 30px;
	background: #1c210d;
	height: 200px;
}
.menu_button{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
#menu{
	width: 100%;
}
#logo{
	background: #1c210d;
	font: normal normal normal 46px/1.4em 'Mr De Haviland',cursive;
	width: 300px;
	height: 135px;
	text-align: center;
}
#container {
	width: 982px;
	margin: auto;
}
.center {
	margin: auto;
	width: 60%;
	padding: 5px;
}
#home-img {
	width: 100%;
	/*padding: 0px auto;*/
	align-content: center;
}
#img {
	margin: 0px 0px 0px 0px;
}
#socials{
	margin-top: 40px;
}
#social{
	margin-left: 2px;
	margin-right: 2px;
}
.active a{
	background-color: #303030;
	color: #B2B1B1;
}
.font-8{
	font-size: 8pt; 
}