body {
    font-family: itim;
    background-image: url("sky.gif");
    background-repeat: repeat;
    background-size: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('star.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.6;
    filter:alpha(opacity=80);
}
